/* Error: Expected whitespace.
 *     ,
 * 399 |         @media screen and(max-width:768px){
 *     |                          ^
 *     '
 *   public/assets/scss/component/home/section.scss 399:20  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Expected whitespace.\a     \2577 \a 399 \2502          @media screen and(max-width:768px){\d\a     \2502                           ^\a     \2575 \a   public/assets/scss/component/home/section.scss 399:20  root stylesheet";
}
