._main_nav{
	padding: 8px;
}
.logo{
	padding: 12px;	
	@media screen and (max-width: 991.98px){
		a{
			color: #FFF;
			font-weight: 600;
			font-size: 14px;
		}
	}

	@media (min-width: 992px) and (max-width: 1199.98px) {
		a{
			color: #FFF;
			font-weight: 600;
			font-size: 16px;
		}
	}

	@media (min-width: 1200px) {
		a{
			color: #FFF;
			font-weight: 600;
			font-size: 18px;
		}
	}
}

.logo a {
    color: #FFF;
    font-weight: 600;
}
.container{
    max-width: 1170px;
    @media screen and (max-width: 575px){
        padding: 10px 15px;
    }
}
@media screen and (max-width:767px){
	.nav{
		margin-top: -58px;
		margin-bottom: 26px;
		.menu-toggle{
			margin-right: -15px;
		}
	}
}